body{
	background: url("../img/bgr.png") repeat-x;
	font-family: "Trebuchet MS", "Verdana";
	margin-left: 0px;
	margin-right: 0px;
}

table{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

th{
	color: white;
	background: #3F96D8;
	border: 1px solid gray;
	border-radius: 4px;
}

td{
	border-radius: 2px;
	background: #E3E3E3;
}

hr{
	color: navy;
	width: 80%;
}

a{
	color: #00005C;
}

a:visited {
	color: #00005C;
}

h1{
}

h3{
	font-style: italic;
	font-size: small;
	color: gray;
	margin-left: 50px;
}

.welcome {
	color: black;
	background: #EEEEEE;
	border: 1px solid #DDDDDD;
	padding: 30px;
	margin: 50px;
	border-radius: 40px;
}

/* Wszystko zwiazane z szablonem */

#mast{
	padding: 10px;
}

.small{
	font-size: xx-small;
	/*text-align: center;*/
	font-family: "courier", Monospace;
}

.message{
	color: black;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px dotted white;
	margin-top: auto;
	margin-bottom: auto;
}

#authMessage{
	color: black;
	padding: 20px;
	margin: 30px;
	background-color: #FFCFB6;
	border: 1px solid #FF9883;
	border-radius: 30px;
}

#world {
}

#container {
	width: 1000px;
	margin-left: 10px;
	margin-right: 10px;
}

#header{
	background: url("../img/logo2.png") no-repeat;
	height: 58px;
	padding-left: 230px;
}

#page{
}

#footer {
	background: url("../img/bgr_bottom.png") repeat-x;
	margin-top: 10px;
	padding: 10px;
	text-align: left;
	color: white;
	font-size: x-small;
	font-family: "Tahoma";
	height: 67px;
}

/* Formularze */
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
	margin-bottom: 10px;
}

/* Ladne menu */

.circlemenu{
width: 90%;
overflow:hidden;
margin-left: auto;
margin-right: auto;
}

.circlemenu ul{
margin: 0;
padding: 0;
font: bold 14px Verdana;
list-style-type: none;
text-align: center; /* "left", "center", or "right" align menu */
}

.circlemenu li{
display: inline;
margin: 0;
}

.circlemenu li a{
width:100px;
height:100px;
border-radius: 400px; /*really large border radius to create round borders*/
-moz-border-radius: 400px;
-webkit-border-radius: 400px;
margin-right: 20px;
margin-left: 20px;
padding: 30px;
background: #A7CAD7;
background: url("../img/bgr.png") repeat-x;
color: white;
}

.circlemenu a span{
position:relative;
top:40%;
}

/*.circlemenu li a:visited{
color:black;
}*/

.circlemenu a:hover {
background:#3F96D8;
}

/* Błędy przy instalacji */
pre {
	background: #E0E0E0;
	border: 1px solid gray;
	border-radius: 30px;
	margin: 30px;
	padding: 20px;
}
